@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}
h3 {
  text-align: center;
}
body {
    background: #f3f5f9;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .menulateral {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #4b4276;
    padding: 30px 0;
    margin-right: 5px;
}

.wrapper .logo {
    margin-top: 10px;
    margin-bottom: 90px;
}

.wrapper .logo img{
    width: 40px;
    height: 40px;
    margin-left: 10%;
    float: left;
}

.wrapper .logo h2{
    color: #fff;
    text-transform: uppercase;  
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.wrapper .menulateral ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
    height: 80px;
    line-height: 50px;
}

.wrapper .menulateral ul li a {
    color: #bdb8d7;
    display: block;
}

.wrapper .menulateral ul li a .menu {
    width: 25px;
}

.wrapper .menulateral ul li:hover {
    background: #594f8d;
    height: 90px;
    width: 205px;
}

.wrapper .menulateral ul li:hover a {
    color: #fff;
}

.main_contenido {
    width: 90%;
    margin-left: 200px;
    margin-right: 10px;
}

.main_contenido .header {
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}

.main_contenido .info {
    margin: 20px;
    line-height: 25px;
}

.main_contenido .info div {
    margin-bottom: 20px;
}
/* Slideshow container */
.slideshow-container {
    width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 10%;
   
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
