@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background: #f3f5f9;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .menulateral {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #4b4276;
    padding: 30px 0;
    margin-right: 5px;
}

.wrapper .logo {
    margin-top: 10px;
    margin-bottom: 90px;
}

.wrapper .logo img{
    width: 40px;
    height: 40px;
    margin-left: 10%;
    float: left;
}

.wrapper .logo h2{
    color: #fff;
    text-transform: uppercase;  
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.wrapper .menulateral ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
    height: 80px;
    line-height: 50px;
}

.wrapper .menulateral ul li a {
    color: #bdb8d7;
    display: block;
}

.wrapper .menulateral ul li a .menu {
    width: 25px;
}

.wrapper .menulateral ul li:hover {
    background: #594f8d;
    height: 90px;
    width: 205px;
}

.wrapper .menulateral ul li:hover a {
    color: #fff;
}

.main_contenido {
    width: 90%;
    margin-left: 200px;
    margin-right: 10px;
}

.main_contenido .header {
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}

.main_contenido .info {
    margin: 20px;
    line-height: 25px;
}

.main_contenido .info div {
    margin-bottom: 20px;
}